!!! Transitional
%html
  %head
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen'
    = stylesheet_link_tag 'blueprint/print', :media => 'print'
    = "<!--[if IE]>#{stylesheet_link_tag 'blueprint/ie', :media => 'screen'}<![endif]-->"
    
  %body
    .container
      %h1= link_to "Cheet alinux.web.id", root_path

      - flash.each do |key, value|
        %div{:class => key}= value

      #content
        = yield

    .footer
      maintenance and develop by <a href="http://deanet.web.id" target="_new">deanet.web.id</a><br/>copyleft - 2010
